*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html{
    font-size: 62.5%;
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background : linear-gradient(135deg, #71b7e6, #9b59b6);
    font-family: "Montserrat", sans-serif;
}
.container{
    position: relative;
    background-color: white;
    width: 76.8rem;
    height: 40rem;
    max-width: 100%;
    min-height: 480px;
    border-radius: 20px;
    overflow: hidden;
}
.form{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
}
.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up{
    left: 0;
    width: 50%;
    z-index: 1;
}
form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;

}
form h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
    position: relative;
    top: -6rem;
}
form .social-icon{
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -5rem;
    color: rgb(255, 255, 255);
}
form .social-icon i{
    background-color: black;
    padding: 1rem;
    border-radius: 50%;
}
form .social-icon i:hover{
    background-color: yellow;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 19px yellow;
    color: black;
}
form span{
    position: relative;
    top: -4rem;
    font-size: 1.2rem;    
}
form .color{
    background: linear-gradient(to left,#71b7e6, #9b59b6);
    height: 2rem;
    position: relative;
    top: -5.4rem;
    opacity: 0.4;
    z-index: 6;
    overflow: hidden;
    animation: width 3s ease-in-out infinite;
    border-radius: 20px;
}
@keyframes width{
    0%,100%{
        width: 2rem;
    }
    50%{
        width: 24.99999999999rem;
    }
}
form input{
    width: 23rem;
    position: relative;
    top: -2rem;
    display: flex;
    margin: 10px 0;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #adadad;
}
form input::placeholder{
    color: #000000;
    font-size: 1.2rem;
}
form a{
    position: relative;
    top: -1rem;
    text-decoration: none;
    font-size: 1.2rem;
}
form button{
    position: relative;
    top: 0rem;
    width: 23rem;
    padding: 1rem 0;
    border: none;
    outline: none;
    background: linear-gradient(to left,#71b7e6, #9b59b6);
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
form button:hover{
    box-shadow: 0 0 19px #71b7e6;
}
.toggle-container{
    position: absolute;
    width: 50%;
    height: 100%;overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 150px;
    z-index: 3;
    left: 50%;
    top: 0;
}
.toggle{
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    background: linear-gradient(to left,#71b7e6, #9b59b6);
}
.toggle-pannel{
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: all 0.6s ease-in-out;
}
.toggle-left{
    transform: translateX(-200%);
}
.toggle-right{
    right: 0;
    transform: translateX(0);
}  
.toggle-pannel h1{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
} 
.toggle-pannel p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.toggle-pannel label{
    background-color: transparent;
    border: 2px solid rgb(124, 124, 124);
    padding: 5px 15px;
    border-radius: 20%;
    cursor: pointer;
    font-size: 1rem;
}
hidden{
    display: none;
}
input[type="checkbox"]{
    display: none;
}
.toggle-checkbox:checked ~.toggle-container{
    border-radius: 0 150px 100px 0;
    transform: translatex(-100%);
}
.toggle-checkbox:checked ~.toggle-container .toggle{
    transform: translateX(50%);
}
.toggle-checkbox:checked ~.toggle-container .toggle-left{
    transform: translateX(0%);
}
.toggle-checkbox:checked ~.toggle-container .toggle-right{
    transform: translateX(200%);
}
.toggle-checkbox:checked ~ .sign-up{
    z-index: 2;
    opacity: 1;
    transform: translate(100%);
}